
services:
  mariadb:
    build: ./mariadb
    container_name: mariadb
    restart: unless-stopped 
    env_file: 
      - .env
    volumes:
      - mariadb:/var/lib/mysql
    expose:
      - "3306"
    networks:
      - inception

  wordpress:
    build: ./wordpress
    container_name: wordpress
    image: wordpress:user
    depends_on:
      - mariadb
    volumes: 
      - wordpress:/var/www/html
    env_file:
      - .env
    networks:
      - inception
    restart: always

  nginx:
    build: ./nginx
    container_name: nginx
    image: nginx:user
    ports:
      - "443:443"
    depends_on:
      - wordpress
    volumes:
      - wordpress:/var/www/html
    networks:
      - inception
    env_file:
      - .env
    restart: always

volumes:
  mariadb:
    driver: local
    driver_opts: 
      device: /home/ple-guya/data/mariadb
      o: bind
      type: none
  wordpress:
    driver: local
    driver_opts:
      device: /home/ple-guya/data/wordpress
      o: bind
      type: none

networks:
  inception:
    name: inception
